@font-face {
    font-family: BEBAS;
    src: url("font/bebas/Bebas-Regular.ttf");
}
@font-face {
    font-family: shakerato;
    src: url("font/shakerato/Shakerato-PERSONAL.otf");
}

@font-face {
    font-family: shakeratolite;
    src: url("font/shakerato/Shakerato-PERSONAL-Light.otf");
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('img/BACKGROUND.png');
    background-size: 90em 45em;
    background-repeat: no-repeat;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
header ul {
    display: flex;
    list-style: none;
    margin: -10px;
    margin-left: 25%;
    position: absolute;
    font-family: BEBAS;
    font-size: 22px;
  }
.list:hover {
    color: #CE4D60;  
    border-bottom: 3px solid;
    
}
  
header ul li {
    margin-left: 28px;
    margin-right: 28px;
  
}

a {
    text-decoration: none;
    color: white;
}
.line{
    border-right: 1px solid white;
    padding-right:50px;

}
.navbar{
    display: flex;
    margin-left: 1000px;
}
.ty{
    display: flex;
    align-items: center;
    margin-right: 50px;
    justify-content: center;
    margin-top: 10px;
}
.navimg{
    display: flex;
    height: 50px;    
    width: 50px;
}
.language{
    border: 2px solid white;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 20px;
    font-size: 22px;
    font-family: BEBAS;
}


#central{
    display: flex;
    align-items: center;
    padding-right: 200px;
    color: white;
}
#galery{
    width: 20000px;
    position: relative;
}

#central img{
    width: 100%;
}

.ca{
    padding-left: 50px;
}

.bouge{
    background:-webkit-linear-gradient(left, #C72B77, #DC9232);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
}

.ici{
    padding-left: 122px;
}

h2{
    font-size: 90px;
    line-height: 75px;
    margin-bottom: 40px;
}

.txt{
    font-family: shakeratolite;
}

.over{
    width: 18%;
    height: auto;
    margin-left: 20px;
    margin-top: -50px;
}

.city{
    display: flex;
    justify-content: center;
    margin-top: -15px;
    font-size: 22px;
    font-family: shakeratolite;
}

.paris{
    margin-left: 150px;
    margin-right: 150px;
    color: rgb(27, 223, 27);
}

.lille{
    color: rgb(255, 115, 0);
}

.lyon{
    color: rgb(0, 195, 255);
}

.down{
    display: flex;
    justify-content: center;
    height: 50px;
}