@font-face {
    font-family: BEBAS;
    src: url("font/bebas/Bebas-Regular.ttf");
}

body{
    background-image: url('img/BACKGROUND.png');
    background-size: 120em 60em;
    background-repeat: no-repeat;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 2%;
}
header ul {
    display: flex;
    list-style: none;
    margin: -10px;
    margin-left: 25%;
    position: absolute;
    align-self: center;
    font-family: BEBAS;
    font-size: 30px;
  }
  header ul li a:hover {
    color: #CE4D60;  
    border-bottom: 3px solid;
}
  
  header ul li {
    margin-left: 28px;
    margin-right: 28px;
  
  }
  a {
    text-decoration: none;
    color: white;
  }
.line{
    border-right: 1px solid white;
    padding-right:50px;
}
.navbar{
    display: flex;
    margin-left: 1000px;
}
.ty{
    display: flex;
    align-items: center;
    margin-right: 50px;
    justify-content: center;
    margin-top: 10px;

}
.navimg{
    display: flex;
    height: 50px;    
    width: 50px;
}
.language{
    border: 2px solid white;
    padding: 5px;
    margin-left: 20px;
}


#central{
    display: flex;
    align-items: center;
    padding-right: 200px;
    color: white;
}
#galery{
    width: 1500px;
}


.ca{
    padding-left: 50px;
}

.bouge{
    background:-webkit-linear-gradient(left, #C72B77, #DC9232);
    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
}
.ici{
    padding-left: 122px;
}
h2{
    font-size: 90px;
    line-height: 75px;
    margin-bottom: 40px;
}
#central img{
    width: 95%;
    height: auto;
}




.over{
    width: 10%;
    margin-left: 20px;
    margin-top: -40px;
}